<div *ngIf="data && option" class="card">
  <div class="card__img">
    <img [src]="data.urlFotos[0]" alt="" />
  </div>

  <div class="card__holder">
    <h3 class="card__nombre"> {{data.nombre}} </h3>
    <p class="card__desc"> {{data.descripcion}} </p>
    <div class="card__datos">
      <ul>
        <li><i class="fas fa-phone"></i> {{data.telefono}} </li>
        <li><i class="fas fa-envelope"></i> {{data.correo}} </li>
        <li><i class="fas fa-map-marker"></i> {{data.direccion}} </li>
      </ul>
    </div>

    <div class="card__estadisticas">
      <div class="flex">
        <div class="card__visitas">
          <p> {{visitas}} <br/><span>VISITAS</span></p>
        </div>
        <div class="card__contacto">
          <p> {{contactos}} <br/><span>CONTACTO</span></p>
        </div>
      </div>
    </div>

    <button button class="button" (click)="detalle()">
      VER Y EDITAR
    </button>
  </div>
</div>
<div *ngIf="!option" class="card card_agregar">
  <div class="card__agregar flex">
    <div class="card__agregar-holder">
        <p><i class="fas fa-plus"></i><br> SOLICITAR AGREGAR NUEVO ANUNCIO </p>
    </div>
  </div>
</div>
