<div class="card">
  <div class="card__img">
    <img src="assets/img.png" alt="" />
  </div>

  <div class="card__holder">
    <h3 class="card__nombre">L.N. Juan Pérez Pedroso</h3>
    <p class="card__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque pariatur
      voluptates architecto molestiae labore omnis molestias inventore, quaerat
      nisi.
    </p>
    <div class="card__datos">
      <ul>
        <li><i class="fas fa-phone"></i> 9991234567</li>
        <li><i class="fas fa-envelope"></i> correo@example.com</li>
        <li>
          <i class="fas fa-map-marker"></i> Calle 15 Num. 123 x 34 y 56 Col.
          Colonia
        </li>
      </ul>
    </div>

    <div class="card__estadisticas">
      <div class="flex">
        <div class="card__visitas">
          <p>
            378 <br />
            <span>VISITAS</span>
          </p>
        </div>
        <div class="card__contacto">
          <p>
            378 <br />
            <span>CONTACTO</span>
          </p>
        </div>
      </div>
    </div>

    <button class="button">
      VER Y EDITAR
    </button>
  </div>

  <div class="card__agregar flex">
    <div class="card__agregar-holder">
        <p><i class="fas fa-plus"></i><br> SOLICITAR AGREGAR NUEVO ANUNCIO </p>
    </div>
  </div>
</div>
