<div class="navbar">
    <div class="navbar__holder flex container">
        <div class="navbar__regresar">
            <a href="" class="flex">
                <i class="fas fa-chevron-left"></i> <p>Regresar</p>
            </a>
                
        </div>
        <div class="navbar__logo">
            <img src="assets/logo_bco.png" alt="">
        </div>

        <div class="navbar__opciones">
            <a href="">
               <i class="fas fa-ellipsis-v"></i>
            </a>

            <div class="navbar__opciones-menu">
                    <ul>
                        <li><a href=""><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                        <li><a href=""><i class="fas fa-award"></i> Ver Mi plan</a></li>
                    </ul>
                </div>
                
        </div>
    </div>
</div>
