<h1 mat-dialog-title>Subscribirse a premium</h1>
<mat-dialog-content>
    Esta es una funcionalidad premium y actualmente tu cuenta es grauita. Por favor seleccione la tarjeta a la cual se le hará el cargo de la subscripción mensual de $129.00 MXN. (Podrás cancelar la subscripción en el momento que tú desees) 
</mat-dialog-content>
<mat-dialog-actions>
    <app-select-card (cardSelected)="onCardSelected($event)" style="width: 100%;"></app-select-card>
    <button (click)="onPayButtonClick()" mat-flat-button color="primary" style="width: 100%;">INICIAR SUBSCRIPCION</button>
    <hr>
    <button (click)="onAddCardButtonClick($event)" mat-flat-button color="accent" style="width: 100%;">AGREGAR NUEVA TARJETA</button>
    <hr>
    <button mat-flat-button color="warn" style="width: 100%;" mat-dialog-close>
        CANCELAR
    </button>
</mat-dialog-actions>
