@import '../../../styles.scss';

.popup {
    max-width: 500px;
    background: white;
    border-radius:5px;
    &__titulo {
        background: rgb(157,202,84);
        background: linear-gradient(45deg, rgba(157,202,84,1) 0%, rgba(45,156,137,1) 100%);
        padding: 3px 10px;
        border-radius: 5px 5px 0 0;

        h3 {
            color: white;
            text-align: center;
        }
    }

    &__info {
        padding: 15px 20px;
        text-align: center;
        
        p {
            letter-spacing: 1px;
            font-weight: bold;

            span {
                color: $color-principal;
            }
        }
    }

    &__btns {
        text-align: center;
        .button {
            margin-bottom: 25px;

            &_gris {
                background-color: #bababa;
                margin-bottom: 0;

                &:hover {
                    background-color: white;
                    color: #bababa;
                    border: 2px solid #bababa;
                    cursor: pointer;
                }
            } 
        }
    }
}