<div class="popup" *ngIf="user | async as plan">
    <div class="popup__titulo">
      <h3>DETALLES DE MI PLAN</h3>
    </div>

    <div class="popup__info">
      <p><span>PLAN ACTUAL: </span>{{plan.planName}}</p>
    </div>

    <div class="popup__info">
      <p><span>ESTADO: </span>{{plan.status}}</p>
    </div>

    <div class="popup__btns">
      <ng-container *ngIf="plan.planName == 'PREMIUM' && plan.status == 'ACTIVO'; else subscribe">
        <button class="button" (click)="onCancelSubscription(plan.subscriptionId)">
          CANCELAR MI PLAN
        </button>
      </ng-container>
      <ng-template #subscribe>
        <button mat-dialog-close="changeToPremium" class="button">
          CAMBIAR A PLAN PREMIUM
        </button>
      </ng-template>
      <button  mat-dialog-close cdkFocusInitial class="button button_gris">
        CERRAR
      </button>
    </div>
</div>
<app-loading-overlay [loading]="loading"></app-loading-overlay>