<div class="dashboard container">
  <div *ngIf="userInfo"  class="dashboard__datos">
    <h1 class="titulo">DATOS GENERALES</h1>
    <div class="dashboard__form">
      <form action="" class="form flex">
        <div class="form__group form__group_tercio">
          <label class="form__label">Nombre</label>
          <input class="form__input" type="text" [value]="userInfo.nombre" readonly/>
        </div>
        <div class="form__group form__group_tercio">
          <label class="form__label">Estado</label>
          <input class="form__input" type="text" [value]="userInfo.estado" readonly/>
        </div>
        <div class="form__group form__group_tercio">
          <label class="form__label">Correo electrónico</label>
          <input class="form__input" type="text" [value]="userInfo.correo" readonly/>
        </div>
        <div class="form__group form__group_center">
          <button class="button">
            SOLICITAR CAMBIOS
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="places && places.length" class="dashboard__anuncios">
      <div class="flex">
          <app-card *ngFor="let place of places" [data]="place" [option]="true"></app-card>
          <app-card *ngIf="5 > places.length" [option]="false"></app-card>
      </div>
  </div>
</div>
