@import '../../../styles.scss';

.dashboard {
    //margin-top: 50px;

    &__datos {
        padding: 50px 0;
        border-bottom: 1px solid #bababa;
    }

    &__anuncios {
        padding: 50px 0;

        .flex {
            width: 100%;
            justify-content: left;
            flex-wrap:wrap;

            app-card {
                margin: 10px 0;
                flex-basis: 30%;
            }
        }
    }

    &__form {
        label {
            color: $color-secundario;
        }

        input {
            background: rgba(255, 255, 255, 0.27);
            border: 1px solid #bababa;
        }
    }
}