
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gohealthy-admin-primary: mat-palette($mat-indigo);
$gohealthy-admin-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gohealthy-admin-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$gohealthy-admin-theme: mat-light-theme($gohealthy-admin-primary, $gohealthy-admin-accent, $gohealthy-admin-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gohealthy-admin-theme);


//variables
$color-principal: #88bf61;
$color-secundario: #3082bb;

//layout
html, body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #636363;
}

* {
    box-sizing: border-box;
}


.flex {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    display: block;
    width: 100%;
}

.titulo {
    color: #636363;
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
}

a {
    color: white;
    text-decoration: none;
    transition: all .2s ease-in-out;
    padding: 5px 10px;
    

    &:hover {
        cursor: pointer;
    }
}

a.link {
    border: 1px solid transparent;
    text-decoration: none;
    

    &:hover {
        transform: scale(1.1);
        border: 1px solid white;
    }

}

.button {
    background-color: $color-secundario;
    color: white;
    padding: 10px;
    max-width: 400px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    border: 2px solid transparent;
    transition: all ease 0.2s;

    &:hover {
        background-color: white;
        color: $color-secundario;
        border: 2px solid $color-secundario;
        cursor: pointer;
    }
}
button:disabled {
    background-color: #636363;
    // color: #636363;
    &:hover {
        background-color: #636363;
        color: white;
        border: 2px solid transparent;
        cursor: inherit;
    }
}

ul {
    list-style: none;
    padding: 0;

    li {
        font-weight: 200;
        font-size: 14px;
        margin: 5px 0;
    }
}

//formulario

.form {
    width: 100%;
    flex-wrap: wrap;

    &__group {
        margin-bottom: 30px;
        padding: 0 5px;
        flex-basis: 100%;

        &_mitad {
            flex-basis: 50%;
        }

        &_tercio {
            flex-basis: 33.333%;
        }

        &_cuarto {
            flex-basis: 25%;
        }

         &_center {
            text-align: center;
            margin-bottom: 0;
         }
     
    }


    &__label {
        color: #636363;
        display: block;
        margin-bottom: 10px;
        font-weight: 400;
    }

    &__input, &__select, &__textarea {
        color: #636363;
        font-family: 'Nunito', sans-serif;
        width: 100%;
        font-weight: 300;
        background-color: #f3f3f3;
        border-radius: 8px;
        padding: 8px 10px;
        font-size: 16px;
        transition: all ease 0.2s;
        letter-spacing: 1px;
        border: none;

        &:focus {
            box-shadow: inset 0px 0px 2px #bababa;
        }
    }

    &__textarea {
        height: 100px;
        width: 100%;
        max-width: 100%;
        resize: none;
    }

    



}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
