<div *ngIf="data" class="detalle container">
  <button (click)="router.navigate(['blog']);">
    <i class="fas fa-chevron-left" style="font-size: 30px; position: absolute; left: 20px; top: 10px; z-index: 2000; color: white; cursor: pointer;"></i>
  </button>
  <button *ngIf="!data.visible" (click)="onActivateAd($event)" class="button detalle__button-active" style="width: 200px;">
    ACTIVAR
  </button>
  <button *ngIf="data.visible" (click)="onDeactivateAd()"class="button detalle__button-defuse" style="width: 200px;">
    DESACTIVAR
  </button>
  <div class="detalle__estadisticas">
    <h3>{{data.nombre}}<br>ESTADÍSTICAS</h3>
    <div class="flex">
      <div class="detalle__estadisticas-general">
        <div class="titulo">GENERAL</div>
        <div class="detalle__general flex">
          <div class="detalle__general-info">
            <p>VISITAS</p>
            <h3> {{visitas}} </h3>
          </div>
        </div>
        <div class="detalle__general flex">
          <div class="detalle__general-info">
            <p>CONTACTO</p>
            <h3> {{contactos}} </h3>
          </div>
        </div>
      </div>
      <div class="detalle__estadisticas-mujeres">
        <div class="titulo">MUJERES</div>
        <div class="detalle__estadisticas flex">
          <div class="detalle__general-info">
            <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [scheme]="barScheme" [results]="mujeres_visitas">
            </ngx-charts-bar-vertical>
          </div>
        </div>
        <div class="detalle__estadisticas flex">
          <div class="detalle__general-info">
            <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [scheme]="barScheme" [results]="mujeres_contactos">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
      <div class="detalle__estadisticas-hombres">
        <div class="titulo">HOMBRES</div>
        <div class="detalle__estadisticas flex">
          <div class="detalle__general-info">
            <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [scheme]="barScheme" [results]="hombres_visitas">
            </ngx-charts-bar-vertical>
          </div>
        </div>
        <div class="detalle__estadisticas flex">
          <div class="detalle__general-info">
            <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [scheme]="barScheme" [results]="hombres_contactos">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detalle__estadisticas">
    <h3>DATOS DEL ANUNCIO</h3>
    <div class="detalle__form">
      <app-dropzone
        [urls]="tempUrl"
        [refs]="tempRef"
        (added)="added($event)"
        (deleted)="deleted($event)"
        (refresult)="refResult($event)"
        (urlresult)="urlResult($event)"
        (isValid)="validPhotos($event)">
      </app-dropzone>
      <form [formGroup]="form" action="" class="form flex">
        <div  class="form flex">
          <div class="form__group form__group_tercio">
            <label class="form__label">Nombre</label>
            <input class="form__input" formControlName="nombre" type="text"/>
          </div>
          <div class="form__group form__group_tercio">
            <label class="form__label">Dirección</label>
            <input class="form__input" formControlName="direccion" type="text"/>
          </div>
          <div class="form__group form__group_tercio">
            <label class="form__label">Teléfono</label>
            <input class="form__input" formControlName="telefono" type="text"/>
        </div>
          <div class="form__group form__group_tercio">
            <label class="form__label">Correo electrónico</label>
            <input class="form__input" formControlName="correo" type="text"/>
        </div>
          <div class="form__group form__group_tercio">
            <label class="form__label">Horario</label>
            <input class="form__input" formControlName="horario" type="text"/>
        </div>
          <div class="form__group form__group_tercio">
            <label class="form__label">Latitud</label>
            <input class="form__input" formControlName="latitud" type="number"/>
        </div>
          <div class="form__group form__group_tercio">
            <label class="form__label">Longitud</label>
            <input class="form__input" formControlName="longitud" type="number"/>
        </div>
          <div class="form__group form__group_tercio">
            <label class="form__label">Facebook</label>
            <input class="form__input" formControlName="facebook" type="text"/>
        </div>
          <div class="form__group form__group_tercio">
            <label class="form__label">Sitio web</label>
            <input class="form__input" formControlName="sitio_web" type="text"/>
        </div>
        </div>
        <div class="form__group">
          <label class="form__label">Descripción</label>
          <textarea class="form__textarea" formControlName="descripcion">
          </textarea>
        </div>
        <div class="form__group form__group_center">
          <button class="button" [disabled]="form.invalid || !imgValid" (click)="save()">
            GUARDAR CAMBIOS
          </button>
        </div>
      </form>
    </div>  
  </div>
</div>
<app-loading-overlay [loading]="loading"></app-loading-overlay>