<div *ngIf="data" class="detalle container">
    <div class="detalle__estadisticas">
        <h3>ESTADÍSTICAS<br>{{data.nombre}}</h3>
        <!-- <h3>{{data.nombre}}</h3> -->
        <div class="flex">
          <div class="detalle__estadisticas-general">
        <div class="titulo">GENERAL</div>
        <div class="detalle__general flex">
            <div class="detalle__general-info">
                    <p>VISITAS</p>
                    <h3> {{visitas}} </h3>
            </div>
        </div>
        <div class="detalle__general flex">
                <div class="detalle__general-info">
                        <p>CONTACTO</p>
                        <h3> {{contactos}} </h3>
                </div>
            </div>
    </div>
    <div class="detalle__estadisticas-mujeres">
        <div class="titulo">MUJERES</div>
          <div class="detalle__estadisticas flex">
              <div class="detalle__general-info">
                <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [scheme]="barScheme" [results]="mujeres_visitas">
                </ngx-charts-bar-vertical>
              </div>
          </div>
          <div class="detalle__estadisticas flex">
            <div class="detalle__general-info">
                <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [scheme]="barScheme" [results]="mujeres_contactos">
                  </ngx-charts-bar-vertical>
            </div>
          </div>
        </div>
        <div class="detalle__estadisticas-hombres">
                <div class="titulo">HOMBRES</div>
                <div class="detalle__estadisticas flex">
                    <div class="detalle__general-info">
                      <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [scheme]="barScheme" [results]="hombres_visitas">
                      </ngx-charts-bar-vertical>
                    </div>
                </div>
                <div class="detalle__estadisticas flex">
                  <div class="detalle__general-info">
                      <ngx-charts-bar-vertical [xAxis]="true" [yAxis]="true" [scheme]="barScheme" [results]="hombres_contactos">
                        </ngx-charts-bar-vertical>
                  </div>
                </div>
            </div>
        </div>
        
      </div>
      <div class="detalle__estadisticas">
        <h3>DATOS DEL ANUNCIO</h3>
        <div class="detalle__form">
          <app-dropzone [urls]="data.urlFotos"></app-dropzone>
          <form action="" class="form flex">
                  <div  class="form flex">
                    <div class="form__group form__group_tercio">
                      <label class="form__label">Nombre</label>
                      <input class="form__input" type="text" [value]="data.nombre" />
                    </div>
                    <div class="form__group form__group_tercio">
                      <label class="form__label">Dirección</label>
                      <input class="form__input" type="text" [value]="data.direccion" />
                    </div>
                    <div class="form__group form__group_tercio">
                      <label class="form__label">Teléfono</label>
                      <input class="form__input" type="text" [value]="data.telefono" />
                  </div>
                    <div class="form__group form__group_tercio">
                      <label class="form__label">Correo electrónico</label>
                      <input class="form__input" type="text" [value]="data.correo" />
                  </div>
                    <div class="form__group form__group_tercio">
                      <label class="form__label">Horario</label>
                      <input class="form__input" type="text" [value]="data.horario" />
                  </div>
                    <div class="form__group form__group_tercio">
                      <label class="form__label">Latitud</label>
                      <input class="form__input" type="text" [value]="data.latitud" />
                  </div>
                    <div class="form__group form__group_tercio">
                      <label class="form__label">Longitud</label>
                      <input class="form__input" type="text" [value]="data.longitud" />
                  </div>
                    <div class="form__group form__group_tercio">
                      <label class="form__label">Facebook</label>
                      <input class="form__input" type="text" [value]="data.facebook" />
                  </div>
                    <div class="form__group form__group_tercio">
                      <label class="form__label">Sitio web</label>
                      <input class="form__input" type="text" [value]="data.sitio_web" />
                  </div>
                  </div>

                  <div class="form__group">
                    <label class="form__label">Descripción</label>
                    <textarea class="form__textarea" [value]="data.descripcion">
                    </textarea>
                </div>
                  <div class="form__group form__group_center">
                    <button class="button">
                      GUARDAR CAMBIOS
                    </button>
                  </div>
                </form>
              </div>
        
    </div>
</div>
