<div class="detalle container">
    <div class="detalle__estadisticas">
        <h3>ESTADÍSTICAS</h3>
        <div class="flex">
                <div class="detalle__estadisticas-general">
                        <div class="titulo">GENERAL</div>
                        <div class="detalle__general flex">
                            <div class="detalle__general-info">
                                    <p>VISITAS</p>
                                    <h3>123</h3>
                            </div>
                        </div>
                        <div class="detalle__general flex">
                                <div class="detalle__general-info">
                                        <p>CONTACTO</p>
                                        <h3>123</h3>
                                </div>
                            </div>
                    </div>
                    <div class="detalle__estadisticas-mujeres">
                            <div class="titulo">MUJERES</div>
                            <div class="detalle__general flex">
                                <div class="detalle__general-info">
                                        <p>GRÁFICA</p>
                                        <h3>---</h3>
                                </div>
                            </div>
                            <div class="detalle__general flex">
                                    <div class="detalle__general-info">
                                            <p>GRÁFICA</p>
                                            <h3>---</h3>
                                    </div>
                                </div>
                        </div>
                        <div class="detalle__estadisticas-hombres">
                                <div class="titulo">HOMBRES</div>
                                <div class="detalle__general flex">
                                    <div class="detalle__general-info">
                                            <p>GRÁFICA</p>
                                            <h3>---</h3>
                                    </div>
                                </div>
                                <div class="detalle__general flex">
                                        <div class="detalle__general-info">
                                                <p>GRÁFICA</p>
                                                <h3>---</h3>
                                        </div>
                                    </div>
                            </div>
        </div>
        
    </div>
    <div class="detalle__estadisticas">
        <h3>DATOS DEL ANUNCIO</h3>
        <div class="detalle__form">
                <form action="" class="form flex">
                  <div class="form__group form__group_tercio">
                    <div class="detalle__img">
                        <img src="assets/img.png" alt="" />
                    </div>
                  </div>
                  <div class="form__group form__group_tercio">
                    <div class="detalle__img">
                        <img src="assets/img.png" alt="" />
                    </div>
                  </div>
                  <div class="form__group form__group_tercio">
                        <div class="detalle__img detalle__img_agregar">
                                <div class="detalle__img_agregar-holder">
                                    <p><i class="fas fa-plus"></i><br> AGREGAR IMAGEN </p>
                                </div>
                              </div>
                  </div>
                  <div class="form__group form__group_tercio">
                    <label class="form__label">Nombre</label>
                    <input class="form__input" type="text" value="L.N. Juan Pérez Pedroso" />
                  </div>
                  <div class="form__group form__group_tercio">
                    <label class="form__label">Dirección</label>
                    <input class="form__input" type="text" value="Mérida, Yucatán" />
                  </div>
                  <div class="form__group form__group_tercio">
                    <label class="form__label">Teléfono</label>
                    <input class="form__input" type="text" value="correo@example.com" />
                </div>
                  <div class="form__group form__group_tercio">
                    <label class="form__label">Correo electrónico</label>
                    <input class="form__input" type="text" value="correo@example.com" />
                </div>
                  <div class="form__group form__group_tercio">
                    <label class="form__label">Horario</label>
                    <input class="form__input" type="text" value="correo@example.com" />
                </div>
                  <div class="form__group form__group_tercio">
                    <label class="form__label">Ubicación <i>(URL Google Maps)</i></label>
                    <input class="form__input" type="text" value="correo@example.com" />
                </div>
                  <div class="form__group form__group_tercio">
                    <label class="form__label">Facebook</label>
                    <input class="form__input" type="text" value="correo@example.com" />
                </div>
                  <div class="form__group form__group_tercio">
                    <label class="form__label">Sitio web</label>
                    <input class="form__input" type="text" value="correo@example.com" />
                </div>
                  <div class="form__group">
                    <label class="form__label">Descripción</label>
                    <textarea class="form__textarea" formControlName="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure doloremque voluptate pariatur repudiandae nemo, earum molestias quo reiciendis porro magni exercitationem fugit totam ratione. Reprehenderit accusamus voluptatibus ea eveniet inventore!</textarea>
                </div>
                  <div class="form__group form__group_center">
                    <button class="button">
                      GUARDAR CAMBIOS
                    </button>
                  </div>
                </form>
              </div>
        
    </div>
</div>
